##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

# The configuration file uses a set of rules to generate an
# acceptable mail environment for debian.org machines. It deviates
# considerably from what could be considered a standard Exim configuration.

# This configuration file brings in the necessary information from
# other databases stored in /etc/exim4/ and the files distributed by ud-ldap

# This file is independent of the local host, it should not be changed
# per machine. primary_hostname is used in all places that require per-host 
# settings.

# The configuration files in /etc/exim4 are as follows:
#  locals - This is a list of domains that are considered local. A local
#           domain is essentially one for which deliveries to /var/mail
#           will be attempted. The users available for local delivery
#           come from /etc/passwd and /etc/aliases. Wildcards are not
#           permitted.
#  virtualdomains - This is a list of all virtual domains. A virtual domain
#           is much like a local domain, execpt that the delivery location
#           and allowed set of users is controlled by a virtual domain
#           alias file and not /etc/passwd. Wildcards are permitted
#  bsmtp_domains - Domains that we deliver locally via bsmtp
#  submission-domains - Domains for which mail will be accepted via the
#           submission port
<%- if @is_mailrelay -%>
#  mailhubdomains - Domains for which we are the MX, but the mail is relayed
#           elsewhere.  This is designed for use with small volume or
#           restricted machines that need to use a smarthost for mail
#           traffic.  We will relay for them based on ssl cert validation
#           but we need to teach Exim how to route the mail to them.  This is
#           that list.
<%- end -%>

# From /var/lib/misc / UD:
#
# mail-forward.db - aliases for @d.o
# user-forward.db - aliases for @thishost.d.o
#
# Note that the BDB files generated by ud-ldap use keys that are not
# null-terminated, so Exim needs to use the "dbmnz" lookup type, rather
# than "dbm".

# Exim's wildcard mechanism is a bit odd in that to say "any address in
# debian.org including debian.org" you must use two patterns,
#   *.debian.org
#   debian.org
# Also you can only place a * before a . and as the first char in a string.
# Wildcards always match last so they may be used as a catchall.

# Further details can be found in each of the files.

# Useful Exim commands:
#  exim4 -qf  - Try sending all messages right now, including frozen ones
#  exim4 -bt foo@blah - Write what Exim would do if it saw the address
#                      Great for testing virtual domains and forward files

# Special features for users:
# .forward-foo - is understood as an extension address for bar-foo@cow.com
# .forward-default - is understood to be a catch all for bar-*@cow.com
# .procmailrc - with no .forward file invokes procmail for delivery
#               automatically.

# For virtual domains the first lookup is done against a linear text
# database called 'aliases', then .forward files are consulted. Exim
# filtering is available for these .forward files only. .forward-default
# is the universal catch all for everything not handled.

# Heuristic check (none bad enough to cause a hard reject, but in aggregate
# will trigger things like rcpt to rate limiting or possibly a reject if
# enough hits are triggered).
#
# value is stored in acl_c_scr

######################################################################
#                    MAIN CONFIGURATION SETTINGS                     #
######################################################################

<%- if @heavy -%>
 perl_startup = do '/etc/exim4/exim_surbl.pl'
<%- end -%>

# These options specify the Access Control Lists (ACLs) that
# are used for incoming SMTP messages.

acl_smtp_helo = check_helo
acl_smtp_rcpt = ${if ={$received_port}{587} {check_submission}{check_recipient}}
acl_smtp_data = check_message
<%- if @is_mail_submit -%>
acl_smtp_auth = check_auth
<%- end -%>
<%- if @heavy -%>
acl_smtp_mime = acl_check_mime
<%- end -%>
acl_smtp_predata = acl_check_predata

# accept domain literal syntax in e-mail addresses. To actually make use of
# this a router is also required
allow_domain_literals = true

# This setting defines a named domain list called
# local_domains. It will be referenced
# later on by the syntax "+local_domains".
# Other domain and host lists may follow.
# @ is the local FQDN, @[] matches the IP address of any local interface.

domainlist local_domains = @ : \
    @[] : \
    localhost : \
    ${if exists {/etc/exim4/locals}{lsearch;/etc/exim4/locals}}

domainlist virtual_domains = partial-lsearch;/etc/exim4/virtualdomains

domainlist submission_domains = ${if exists {/etc/exim4/submission-domains}{lsearch;/etc/exim4/submission-domains}{}}

domainlist bsmtp_domains = ${if exists {/etc/exim4/bsmtp}{partial-lsearch;/etc/exim4/bsmtp}{}}

domainlist handled_domains = +local_domains : +virtual_domains : +bsmtp_domains

domainlist ourself_and_handled = $primary_hostname : +handled_domains

localpartlist local_only_users = lsearch;/etc/exim4/localusers

localpartlist postmasterish = postmaster : abuse : hostmaster

hostlist debianhosts = <; ; 127.0.0.1 ; ::1 ; /var/lib/misc/thishost/debianhosts

hostlist reservedaddrs = 0.0.0.0/8 : 127.0.0.0/8 : 10.0.0.0/8 : 169.254.0.0/16 : 172.16.0.0/12 : 192.0.0.0/24 : 192.168.0.0/16 : 224.0.0.0/4 : 240.0.0.0/5 : 248.0.0.0/5

domainlist google_mxen = aspmx.l.google.com : gmail-smtp-in.l.google.com : \
                         *.aspmx.l.google.com : *.gmail-smtp-in.l.google.com

domainlist single_domain_mx = +google_mxen
domainlist ipv4_only_domain_mx = +google_mxen

# This is a fudge to be able to use a domain list as if it were a host list
hostlist no_fastopen_domains = ${listnamed:google_mxen}

# This should probably move to a lookup file
addresslist header_check_exceptions = *@email.sf-notifications.com : mail.notifications.service.gov.uk : notifications.service.gov.uk : marketplace.aws

<%- if @is_mailrelay -%>
# Domains we relay for; that is domains that aren't considered local but we 
# accept mail for them.
domainlist mailhubdomains = lsearch;/etc/exim4/manualroute
<%- end -%>

<%- if (@is_mailrelay or @is_mail_submit) and @have_host_le -%>
tls_certificate = /etc/exim4/ssl/thishost-le.crt
tls_privatekey = /etc/exim4/ssl/thishost-le.key
<%- elsif @is_bugsmx -%>
tls_certificate = ${if ={$received_port}{587} {/etc/exim4/ssl/reportbug.debian.org.crt} {/etc/exim4/ssl/thishost.crt}}
tls_privatekey = ${if ={$received_port}{587} {/etc/exim4/ssl/reportbug.debian.org.key} {/etc/exim4/ssl/thishost.key}}
<%- else -%>
tls_certificate = /etc/exim4/ssl/thishost.crt
tls_privatekey = /etc/exim4/ssl/thishost.key
<%- end -%>

tls_try_verify_hosts = *
tls_verify_certificates = /etc/exim4/ssl/ca.crt
tls_crl = /etc/exim4/ssl/ca.crl

# The setting below causes Exim to do a reverse DNS lookup on all incoming
# IP calls, in order to get the true host name. If you feel this is too
# expensive, you can specify the networks for which a lookup is done, or
# remove the setting entirely.
host_lookup = *

# If this option is set, then any process that is running as one of the
# listed users may pass a message to Exim and specify the sender's
# address using the "-f" command line option, without Exim's adding a
# "Sender" header.

untrusted_set_sender = *

# Some spam scanners (*cough* irritated *cough*) want the Sender field
# to be resolvable.  Appease them by not actually adding a Sender field.

local_from_check = false

# Some operating systems use the "gecos" field in the system password file
# to hold other information in addition to users' real names. Exim looks up
# this field when it is creating "sender" and "from" headers. If these options
# are set, Exim uses "gecos_pattern" to parse the gecos field, and then
# expands "gecos_name" as the user's name. $1 etc refer to sub-fields matched
# by the pattern.

gecos_pattern = ^([^,:]*)
gecos_name = $1

# Do *not* include the body of the original message in a bounce
# The combination of bounce_return_message and bounce_return_body
# allows us to return only the headers within a bounce

bounce_return_message = true
bounce_return_body    = false

# This tells Exim to immediately discard error messages (ie double bounces).
ignore_bounce_errors_after = 0s
auto_thaw = 1d
timeout_frozen_after = 14d

message_size_limit = 100M
message_logs = false
smtp_accept_max_per_host = ${if match_ip {$sender_host_address}{+debianhosts}{0}{7}}
<%- if @heavy -%>
smtp_accept_max = 300
smtp_accept_queue = 200
smtp_accept_queue_per_connection = 50
smtp_accept_reserve = 25
<%- else -%>
smtp_accept_max = 30
smtp_accept_queue = 20
smtp_accept_queue_per_connection = 25
smtp_accept_reserve = 5
<%- end -%>
smtp_reserve_hosts = +debianhosts

split_spool_directory = true
check_spool_inodes = 200
check_spool_space  = 20M

delay_warning =

<%- if @heavy -%>
message_body_visible = 5000
queue_run_max = 50
deliver_queue_load_max = 50
queue_only_load = 35
smtp_load_reserve = 20
<%- else -%>
queue_run_max = 5
deliver_queue_load_max = 20
queue_only_load = 15
<%- end -%>
queue_list_requires_admin = false

<%- if has_variable?("clamd") && @clamd -%>
av_scanner = clamd:/var/run/clamav/clamd.ctl
<%- end -%>

<%= 
ports = []
out = "daemon_smtp_ports = "
ports << 25
if @mail_port  # if we have an overridden mail_port
  ports << @mail_port
end

if @is_bugsmx || @is_mail_submit
  ports << 587
end

if @is_mailrelay
  ports << @smarthost_port
end

out += ports.uniq.sort.join(" : ")
out
%>

admin_groups = adm
remote_sort_domains = *.debian.org:*.debian.net

pipelining_advertise_hosts = !*
tls_advertise_hosts = *
smtp_enforce_sync = true

log_selector = \
               +tls_cipher \
               +tls_peerdn \
               +dnssec \
<% if scope.call_function('versioncmp', [@lsbmajdistrelease, '10']) >= 0 -%>
               +dkim_verbose \
               +receive_time \
               +pipelining \
<% end -%>
<%- if has_variable?("exim4_ge_4_94") && @exim4_ge_4_94 -%>
               +msg_id_created \
<% end -%>
               +queue_time \
               +queue_time_overall \
               +deliver_time \
               +received_recipients \
               +sender_on_delivery \
               +return_path_on_delivery \
               +incoming_port \
<%- if ports.uniq.length > 1 -%>
               +incoming_interface \
               -outgoing_interface \
<%- end -%>
               +unknown_in_list \
               +smtp_connection \
               +smtp_incomplete_transaction \
               +smtp_confirmation \
               +smtp_syntax_error \
               +smtp_no_mail \
               +smtp_protocol_error

<%- if @is_mail_submit -%>
received_header_text = Received: ${if def:authenticated_id {from authenticated user\n\t}}\
                                 by $primary_hostname ${if def:received_protocol {with $received_protocol}} ${if def:tls_cipher {($tls_cipher)\n\t}}\
                                 (Exim $version_number)\n\t\
                                 ${if def:sender_address {(envelope-from <$sender_address>)\n\t}}\
                                 id $message_exim_id${if def:received_for {\n\tfor $received_for}}
<%- else -%>
received_header_text = Received: ${if def:sender_rcvhost {from $sender_rcvhost\n\t}\
                                 {${if def:sender_ident {from ${quote_local_part:$sender_ident} }}${if def:sender_helo_name {(helo=$sender_helo_name)\n\t}}}}\
                                 ${if and {{eq {$tls_certificate_verified}{1}}{def:tls_peerdn}}{from $tls_peerdn (verified)\n\t}}\
                                 by $primary_hostname ${if def:received_protocol {with $received_protocol}} ${if def:tls_cipher {($tls_cipher)\n\t}}\
                                 (Exim $version_number)\n\t\
                                 ${if def:sender_address {(envelope-from <$sender_address>)\n\t}}\
                                 id $message_exim_id${if def:received_for {\n\tfor $received_for}}
<%- end -%>

# macro definitions.
# Do not wrap!
MAX_SCAN_SIZE = 256000
VDOMAINDATA = ${lookup{$domain}partial-lsearch{/etc/exim4/virtualdomains}{$value}}
VSENDERDOMAINDATA = ${lookup{$sender_address_domain}partial-lsearch{/etc/exim4/virtualdomains}{$value}}
WHITELIST = ${if match_domain{$domain}{+virtual_domains}\
            {${if exists {${extract{directory}{VDOMAINDATA}{${value}/whitelist}}}\
            {${lookup{$local_part}lsearch{${extract{directory}{VDOMAINDATA}{${value}/whitelist}}}{$value}{}}}{}}}\
            {/etc/exim4/whitelist} } : \
            ${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-whitelist}{$value}{}}
GREYLIST_LOCAL_PARTS = ${if match_domain{$domain}{+virtual_domains}\
                       {${if exists {${extract{directory}{VDOMAINDATA}{${value}/grey_users}}}\
                       {${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/grey_users}}}{$local_part}{}}}{}}}\
                       {${lookup{$local_part}lsearch{/etc/exim4/grey_users}{$local_part}{}}}} : \
                       ${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-greylist}{$local_part}{}}
DNSBLLIST = ${if match_domain{$domain}{+virtual_domains}\
	    {${if exists {${extract{directory}{VDOMAINDATA}{${value}/rbllist}}}\
	    {${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/rbllist}}}{$value}{}}}{}}}\
	    {${lookup{$local_part}lsearch{/etc/exim4/rbllist}{$value}{}}}} : \
	    ${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-rbl}{$value}{}}
RHSBLLIST = ${if match_domain{$domain}{+virtual_domains}\
	    {${if exists {${extract{directory}{VDOMAINDATA}{${value}/rhsbllist}}}\
	    {${expand:${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/rhsbllist}}}{$value}{}}}}{}}}\
	    {${expand:${lookup{$local_part}lsearch{/etc/exim4/rhsbllist}{$value}{}}}}} : \
	    ${expand:${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-rhsbl}{$value}{}}}
# Users from LDAP can decide whether to subscribe to default filtering.
# If a user has not explicitly disabled the option, the assumption is in
# favour of filtering.
# For virtual domains, a wildcarded lookup file can be used to opt aliases
# into filtering.
HAS_DEFAULT_OPTIONS = ${if or {\
                         {and {\
                           {eq{${lookup{$local_part}dbmnz{/var/lib/misc/$primary_hostname/default-mail-options.db}{$value}{TRUE}}}{TRUE}}\
                           {exists{${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}\
                           {! eq {${lookup{$local_part}dbmnz{${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}}{}}\
                         }}\
                         {!eq {\
                           ${if match_domain{$domain}{+virtual_domains}\
                             {${if exists {${extract{directory}{VDOMAINDATA}{${value}/default_filtering_users}}}\
                               {${lookup{$local_part}nwildlsearch*{${extract{directory}{VDOMAINDATA}{${value}/default_filtering_users}}}{yes}{}}}\
                             {}}}\
                           {}}}{}}\
                       }}

# This might want to be generated
DKIM_BASE_DOMAIN = debian.org
<%- if @is_bugsmx || @is_trackermaster || @is_packagesqamaster -%>
# Don't sign locally-generated @d.o mail, as it was likely generated
# by a service re-using From: with no inbound authentication.
DKIM_LOCAL_DOMAINS = $primary_hostname
<%- else -%>
DKIM_LOCAL_DOMAINS = DKIM_BASE_DOMAIN : $primary_hostname
<%- end -%>
# smtpauto.${hostname} (full hostname with the domain removed)
DKIM_SELECTOR = smtpauto.${sg{$primary_hostname}{\.DKIM_BASE_DOMAIN}{}}
# Slightly sanitised header sender domain
DKIM_DOMAIN = ${sg{${lc:${domain:$h_from:}}}{^www\.}{}}
# "=Header" will only include the header in the signature if it is present
DKIM_SIGN_HEADERS = From:=Sender:Reply-To:Subject:Date:Message-ID:To:Cc:MIME-Version:Content-Type:Content-Transfer-Encoding:Content-ID:Content-Description:=Resent-Date:=Resent-From:=Resent-Sender:=Resent-To:=Resent-Cc:=Resent-Message-ID:In-Reply-To:References:=List-Id:=List-Help:=List-Unsubscribe:=List-Subscribe:=List-Post:=List-Owner:=List-Archive:=X-Debian-User
DKIM_FILE = /etc/exim4/ssl/dkim.key
# If the sender is local (either non-SMTP or from localhost via TCP), and the
# sender domain is either the local hostname or a designated DKIM domain, this
# will expand to the path to the private key to use for signing. Otherwise,
# it will expand to an empty string, which will cause exim not to sign the message.
#
# /etc/exim4/dkim-domains contains a list of additional domains for which we are
# prepared to DKIM sign. Appropriate keys must exist in DNS.
DKIM_PRIVATE_KEY = ${if and {\
<%- if @is_mail_submit -%>
                     {or {\
                          {inlist{$sender_host_address}{ : 127.0.0.1 : ::::1}}\
                          {def:authenticated_id}\
                     }}\
<%- else -%>
                     {inlist{$sender_host_address}{ : 127.0.0.1 : ::::1}}\
<%- end -%>
                     {or {\
                          {inlisti{DKIM_DOMAIN}{DKIM_LOCAL_DOMAINS}}\
<%- if has_variable?("exim4_ge_4_94") && @exim4_ge_4_94 -%>
                          {eq{DKIM_DOMAIN}{${lookup{DKIM_DOMAIN}lsearch,ret=key{/etc/exim4/dkim-domains}}}}\
<%- else -%>
                          {eq{DKIM_DOMAIN}{${lookup{DKIM_DOMAIN}lsearch{/etc/exim4/dkim-domains}{DKIM_DOMAIN}{}}}}\
<%- end -%>
                     }}\
                     }{DKIM_FILE}}
<%- if @is_rtmaster -%>
# This subject rewrite is embedded in double-quoted strings. As such, some of
# the items need more escaping than usual, otherwise \N becomes simply "N" and
# the following "\[" a literal "[".
RT_SUBJECT = Subject: ${if and {{first_delivery}{match {${sg {$h_Subject:}{\\n([ \\t])}{ }}}{\\N(?i)(.*?)\\[?debian rt\\]?[:\\t -]*(.*)\\N}}}{$1$2}{$h_subject:}}
RT_QUEUE_MAP = /srv/rt.debian.org/mail/rt_queue_map
<%- end -%>

keep_environment =
add_environment =

######################################################################
#                        ACL CONFIGURATION                           #
######################################################################
begin acl

acl_check_dnsbl:

  # perform a single DNSBL check, with some sanity checks
  #
  # acl_arg1 contains the DNSBL item to check
  #
  # accept means clean (or error of some kind)
  # deny means listed

  accept  !dnslists      = $acl_arg1

  accept  condition      = ${if forany{<, $dnslist_value}{!match_ip{$item}{127.0.0.0/8}}}
          logwrite       = Lookup for "$dnslist_matched" in "$acl_arg1" returned out of range response ("$dnslist_value")

  # dnswl
  accept  condition      = ${if forany{<, $dnslist_value}{eq{$item}{127.0.0.255}}}
          condition      = ${if eq{$acl_arg1}{list.dnswl.org}}
          logwrite       = Lookup for "$dnslist_matched" in "$acl_arg1" returned "excessive number of queries" ("$dnslist_value")

  # these error codes are technically Spamhaus-specific, but might
  # get used by other DNSBLs
  accept  condition      = ${if forany{<, $dnslist_value}{eq{$item}{127.255.255.252}}}
          logwrite       = Lookup for "$dnslist_matched" in "$acl_arg1" returned "typing error in DNSBL name" ("$dnslist_value")

  accept  condition      = ${if forany{<, $dnslist_value}{eq{$item}{127.255.255.254}}}
          logwrite       = Lookup for "$dnslist_matched" in "$acl_arg1" returned "query via public/open resolver" ("$dnslist_value")

  accept  condition      = ${if forany{<, $dnslist_value}{eq{$item}{127.255.255.255}}}
          logwrite       = Lookup for "$dnslist_matched" in "$acl_arg1" returned "excessive number of queries" ("$dnslist_value")

  # listed, and returned something in 127.0.0.0/8 that isn't a known
  # error response
  deny

acl_spamlovers:
  # There are a few profiles that don't want much smtp time checking of
  # mail.  It's easier to track them in one place

  accept  condition      = ${if eq {$acl_m_prf}{PopconMail}}
  accept  condition      = ${if eq {$acl_m_prf}{BugsMail}}
  deny

acl_getprofile:

  # Determine the mail profile for this recipient.
  # An empty string implies no match has been found.

  warn    set acl_m_rprf = 

  warn    recipients     = survey@popcon.debian.org
          set acl_m_rprf = PopconMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    local_parts    = +local_only_users
          domains        = +local_domains
          hosts          = !+debianhosts
          set acl_m_rprf = localonly

<%- if @is_mailrelay -%>
  warn    local_parts    = +local_only_users
          domains        = +mailhubdomains
          hosts          = !+debianhosts
          set acl_m_rprf = localonly

<%- end -%>
  accept  condition      = ${if !eq {$acl_m_rprf}{}}

<%- if @is_rtmaster -%>
  warn    domains        = rt.debian.org
          set acl_m_rprf = RTMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

<%- end -%>
<%- if @is_bugsmx -%>
  warn    domains        = bugs.debian.org
          set acl_m_rprf = BugsMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

<%- end -%>
<%- if @is_packagesmaster -%>
  warn    domains        = packages.debian.org
          set acl_m_rprf = PackagesMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

<%- end -%>
<%- if @is_packagesqamaster -%>
  warn    recipients     = owner@packages.qa.debian.org : postmaster@packages.qa.debian.org
          set acl_m_rprf = PTSOwner

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    senders        = :
          domains        = packages.qa.debian.org
          condition      = ${if match{$local_part}{\N^bounces\+\N}}
          set acl_m_rprf = PTSListBounce

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = packages.qa.debian.org
          set acl_m_rprf = PTSMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

<%- end -%>
  warn    recipients     = change@db.debian.org : changes@db.debian.org : chpasswd@db.debian.org : ping@db.debian.org : recommend@nm.debian.org
          set acl_m_rprf = RequireSignedMail

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    recipients     = admin@db.debian.org
          set acl_m_rprf = DBAdmin

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +virtual_domains
          condition      = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction}}}}
          condition      = ${if eq{${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction}}}{$value}{}}}{markup}}
          set acl_m_rprf = markup

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +virtual_domains
          condition      = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction}}}}
          condition      = ${if eq{${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction}}}{$value}{}}}{blackhole}}
          set acl_m_rprf = blackhole

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +virtual_domains
          condition      = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction.db}}}}
          condition      = ${if eq{${lookup{$local_part}dbmnz{${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction.db}}}{$value}{}}}{markup}}
          set acl_m_rprf = markup

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +virtual_domains
          condition      = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction.db}}}}
          condition      = ${if eq{${lookup{$local_part}dbmnz{${extract{directory}{VDOMAINDATA}{${value}/contentinspectionaction.db}}}{$value}{}}}{blackhole}}
          set acl_m_rprf = blackhole

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +local_domains
          condition      = ${if eq{${lookup{$local_part}dbmnz{/var/lib/misc/${primary_hostname}/mail-contentinspectionaction.db}{$value}{}}}{markup}}
          set acl_m_rprf = markup

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    domains        = +local_domains
          condition      = ${if eq{${lookup{$local_part}dbmnz{/var/lib/misc/${primary_hostname}/mail-contentinspectionaction.db}{$value}{}}}{blackhole}}
          set acl_m_rprf = blackhole

  accept  condition      = ${if !eq {$acl_m_rprf}{}}

  warn    set acl_m_rprf = normal

  accept

check_helo:

  warn    set acl_c_scr    = 0

<%- if @is_mailrelay -%>
  # Note that this can never trigger during the initial (pre-STARTTlS)
  # EHLO check
  accept  verify   = certificate

<%- end -%>
<%- unless @use_smarthost -%>
  # These are in the HELO ACL so that they are only run once.  They increment a counter,
  # so we don't want it to increment per RCPT TO.

  # high trust
  warn    dnslists       = list.dnswl.org&0.0.0.3
          log_message    = Hit on list.dnswl.org for $sender_host_address
          set acl_c_scr  = ${eval:$acl_c_scr-30}

  # >= medium trust
  warn    dnslists       = list.dnswl.org&0.0.0.2
          log_message    = Hit on list.dnswl.org for $sender_host_address
          set acl_c_scr  = ${eval:$acl_c_scr-20}

  # any form of listing
  warn    dnslists       = list.dnswl.org
          log_message    = Hit on list.dnswl.org for $sender_host_address
          set acl_c_scr  = ${eval:$acl_c_scr-10}

  warn    condition      = ${if isip {$sender_helo_name}}
          log_message    = remote host used IP address in HELO/EHLO greeting
          set acl_c_scr  = ${eval:$acl_c_scr+20}

  accept  hosts          = +debianhosts

  warn    condition      = ${if eq{$host_lookup_failed}{1}}
          set acl_c_scr  = ${eval:$acl_c_scr+20}

  # HELO looks like a dynamic address (with RDNS match)
  warn    condition      = ${if !eq{$host_lookup_failed}{1}}
          condition      = ${if match{$sender_host_name}{\N(^[^\.]*[0-9]\-+[0-9]|^[^\.]*[0-9]{5,}[^\.]|^([^\.]+\.)?[0-9][^ \.]*\.[^\.]+\..+\.[a-z]|^[^\.]*[0-9]\.[^\.]*[0-9]-[0-9]|^(dyn|cable|dhcp|dialup|ppp|adsl)[^\.]*[0-9])\N}}
          set acl_c_scr  = ${eval:$acl_c_scr+20}

  # HELO looks like a dynamic address
  warn    condition      = ${if match{$sender_helo_name}{\N(^[^\.]*[0-9]\-+[0-9]|^[^\.]*[0-9]{5,}[^\.]|^([^\.]+\.)?[0-9][^ \.]*\.[^\.]+\..+\.[a-z]|^[^\.]*[0-9]\.[^\.]*[0-9]-[0-9]|^(dyn|cable|dhcp|dialup|ppp|adsl)[^\.]*[0-9])\N}}
          set acl_c_scr  = ${eval:$acl_c_scr+20}

  # mail from a dynamic IP address range
  warn    dnslists       = dul.dnsbl.sorbs.net
          set acl_c_scr  = ${eval:$acl_c_scr+15}

  # If the sender's helo name is empty, the message will be rejected later
  # because the helo is empty.  If the rDNS lookup failed, we are already
  # going to greylist them, so no sense worrying about it here.  Finally,
  # if rDNS does not match helo name (both lower cased first), greylist.

  warn    condition      = ${if !eq {$host_lookup_failed}{1}}
          condition      = ${if def:sender_helo_name}
          condition      = ${if !eq {${lc:$sender_helo_name}}{${lc:$sender_host_name}}}
          log_message    = HELO doesn't match rDNS
          set acl_c_scr  = ${eval:$acl_c_scr+8}

  # Regexes of doom
  # matches 098325879 - looks fishy

  warn condition        = ${if and { \
                                     { !match{$sender_helo_name}{\N^\[.+\]$\N} } \
                                     { !match{$sender_helo_name}{\N^(?i)((?=[^-])[a-z0-9-]*[a-z0-9]\.)+[a-z]{2,6}$\N} } \
                                    } \
                            }
       log_message      = non-FQDN HELO
       set acl_c_scr    = ${eval:$acl_c_scr+12}

  # Matches DOMAIN99.com - looks bad

  warn condition       = ${if match {$sender_helo_name}{\N^[A-Z]+[A-Z0-9\-]+\.[A-Za-z0-9]+$\N}}
       log_message     = SHOUTING HELO
       set acl_c_scr   = ${eval:$acl_c_scr+7}

  # Random HELO (run of 7 consonants) (constructed by viruses).  We purposefully
  # skip matching on machines named .*smtp.*, since that's 4 already.  This is a fairly
  # naive test, so it's not worth much

  warn condition       = ${if !match {${lc:$sender_helo_name}}{smtp}}
       condition       = ${if match {${lc:$sender_helo_name}}{\N^[a-z0-9]+\.[a-z]+$\N}}
       condition       = ${if match {${lc:$sender_helo_name}}{\N.*[bcdfghjklmnpqrstvwxz]{7,}.*\.[a-z]+$\N}}
       log_message     = random HELO
       set acl_c_scr   = ${eval:$acl_c_scr+5}

<%- else -%>
  drop !hosts          = +debianhosts
       log_message     = mail from non-d.o host
       message         = Interesting.  I doubt that should have happened.

<%- end -%>
  # Implicit, but simpler to just say it
  accept

<%- if @is_mail_submit -%>
check_auth:
  deny  !encrypted = *
        message = Cannot AUTH if your connection isn't encrypted

  deny  !condition = ${if eq {$interface_port}{587}}
        message = Cannot AUTH on non-submission port

  # Implicit, but simpler to just say it
  accept

<%- end -%>
#!!# ACL that is used after the RCPT command on the submission port
check_submission:

<%- if @is_mail_submit -%>
  accept  authenticated = *
          encrypted = *
          remove_header = X-Debian-User
          add_header = X-Debian-User: $authenticated_id

<%- end -%>
  accept  hosts = +debianhosts

<%- if @is_mailrelay -%>
  accept  verify   = certificate

<%- end -%>
  # Defer after too many bad RCPT TO's.  Legit MTAs will retry later.
  # This is a rough pass at preventing address harvesting or other mail blasts.

  defer  log_message   = Too many bad recipients ${eval:$rcpt_fail_count} out of $rcpt_count
         message       = Too many bad recipients, try again later
         condition     = ${if > {${eval:$rcpt_fail_count}}{3}}

<%- if @is_mail_submit -%>
  defer   ratelimit      = 50 / 60m / per_rcpt / $sender_host_address
          !hosts         = +debianhosts
          message        = sorry, one can only submit 50 recipients per hour. Contact DSA in case you meet this.
<%- else -%>
  defer   ratelimit      = 5 / 60m / per_rcpt / $sender_host_address
          !hosts         = +debianhosts
          message        = sorry, only 5 reports per hour for submission
<%- end -%>

  accept  domains  = +local_domains
          hosts    = +debianhosts
          endpass
          verify   = recipient

<%- if @is_mailrelay -%>
  accept  domains  = +mailhubdomains
          endpass
          verify   = recipient/callout=30s,defer_ok,use_sender,no_cache

<%- end -%>
  accept  domains  = +submission_domains
          endpass
          verify   = recipient

  deny    message = relay not permitted

#!!# ACL that is used after the RCPT command
check_recipient:

<%- if @is_mailrelay -%>
  accept  verify   = certificate

<%- end -%>
  accept  hosts = <; ::1 ; 127.0.0.1 ; @

  warn    acl           = acl_getprofile
          condition     = ${if eq{$acl_m_prf}{}}
          set acl_m_prf = $acl_m_rprf

  defer   condition     = ${if !eq{$acl_m_prf}{$acl_m_rprf}}
          message       = Different profile, please retry
          log_message   = Only one profile at a time, please

  warn    set acl_m_rdefopt = ${if bool_lax{HAS_DEFAULT_OPTIONS}}

  warn    condition        = ${if eq{$acl_m_defopt}{}}
          set acl_m_defopt = $acl_m_rdefopt

  defer   condition     = ${if !eq{$acl_m_defopt}{$acl_m_rdefopt}}
          message       = Different profile, please retry
          log_message   = Only one default options profile at a time, please

  # Set a flag to indicate whether the current recipient
  # has explicitly requested greylisting
  warn    set acl_m_grey_recip = 0

  warn    local_parts          = GREYLIST_LOCAL_PARTS
          domains              = +handled_domains
          set acl_m_grey_recip = 1

  # Defer after too many bad RCPT TO's.  Legit MTAs will retry later.
  # This is a rough pass at preventing address harvesting or other mail blasts.

  defer  log_message   = Too many bad recipients ${eval:$rcpt_fail_count} out of $rcpt_count
         !acl          = acl_spamlovers
         message       = Too many bad recipients, try again later
         !hosts        = +debianhosts
         condition     = ${if > {${eval:$rcpt_fail_count}}{3}}

  # Dump spambots that are so stupid they say helo as our IP address

  drop   !hosts        = +debianhosts
         !acl          = acl_spamlovers
         condition     = ${if eq {$sender_helo_name}{$received_ip_address}}
         message       = HELO mismatch Forged HELO for ($sender_helo_name)

  # Also for spambots that say helo as us or one of our domains

  drop   !hosts        = +debianhosts
         !acl          = acl_spamlovers
         condition     = ${if match_domain{$sender_helo_name}{+ourself_and_handled}}
         condition     = ${if !match{$sender_host_name}{${rxquote:$sender_helo_name}\N$\N}}
         message       = HELO mismatch Forged HELO for ($sender_helo_name)

  # This logic gives you a list of commonly forged domains in helo to reject against

  warn set acl_m_frg   = ${lookup{$sender_helo_name} \
                           nwildlsearch{/etc/exim4/helo-check} \
                          {${if eq{$value}{}{$sender_helo_name}{$value}}}{}}

  # This is a failsafe in case DNS fails - we defer instead of hard reject if they 
  # say helo as a name in the list but we can't look them up

  defer  !hosts        = +debianhosts
         !acl          = acl_spamlovers
         condition     = ${if !eq{$acl_m_frg}{}}
         condition     = ${if eq{$sender_host_name}{}}
         condition     = ${if !eq{$host_lookup_failed}{1}}
         message       = Access temporarily denied. Resolve failed PTR for $sender_host_address

  # If DNS works, go ahead and reject them

  drop   !hosts        = +debianhosts
         !acl          = acl_spamlovers
         condition     = ${if and { {!eq{$acl_m_frg}{}}{!match{$sender_host_name}{${rxquote:$acl_m_frg}\N$\N}}}}
         message       = HELO mismatch Forged HELO for ($sender_helo_name)

  # disabled accounts don't even get local mail.
  deny   domains       = +virtual_domains
         condition    = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/mail-disable}}}\
                                     {${lookup{${extract{1}{-}{$local_part}}}lsearch{${extract{directory}{VDOMAINDATA}{${value}/mail-disable}}}{true}{false}}}\
                                     {}}
         message       = ${lookup{${extract{1}{-}{$local_part}}}lsearch{${extract{directory}{VDOMAINDATA}{${value}/mail-disable}}}{$value}}

  deny   local_parts   = lsearch;/var/lib/misc/$primary_hostname/mail-disable
         domains       = +local_domains
	 message       = ${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-disable}{$value}}

  deny   domains       = +virtual_domains
         local_parts   = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/localonly}}}\
                                     {${extract{directory}{VDOMAINDATA}{${value}/localonly}}}\
                                     {}}
         hosts         = !+debianhosts
         message       = mail for <$local_part@$domain> only accepted from debian.org machines

  # Accept if the source is local SMTP (i.e. not over TCP/IP).
  # We do this by testing for an empty sending host field.
  accept  hosts = :
  
  deny    domains       = +handled_domains
          local_parts   = ^[.] : ^.*[@%!/|]
  
  deny    domains       = !+handled_domains
          local_parts   = ^[./|] : ^.*[@%!] : ^.*/\\.\\./

  deny    condition     = ${lookup{$sender_address_local_part}lsearch{/etc/exim4/localusers}{true}}
	  sender_domains= +local_domains
	  hosts         = !+debianhosts
	  message       = mail from <$sender_address> not allowed externally

  deny    sender_domains= +virtual_domains
          condition     = ${if exists {${extract{directory}{VSENDERDOMAINDATA}{${value}/localusers}}}}
          condition     = ${lookup{$sender_address_local_part}lsearch{${extract{directory}{VSENDERDOMAINDATA}{${value}/localusers}}}{true}}
	  hosts         = !+debianhosts
	  message       = mail from <$sender_address> not allowed externally

  deny    sender_domains= +virtual_domains
          condition     = ${if exists {${extract{directory}{VSENDERDOMAINDATA}{${value}/neversenders}}}}
          condition     = ${lookup{$sender_address_local_part}lsearch{${extract{directory}{VSENDERDOMAINDATA}{${value}/neversenders}}}{true}}
	  message       = no mail should ever come from <$sender_address>

  deny    domains       = +virtual_domains
          senders       = :
          condition     = ${if exists {${extract{directory}{VDOMAINDATA}{${value}/neversenders}}}}
          condition     = ${lookup{$local_part}lsearch{${extract{directory}{VDOMAINDATA}{${value}/neversenders}}}{true}}
          message       = <$local_part@$domain> does not send mail; rejecting bogus NDR

  warn    condition     = ${if eq{$acl_m_prf}{localonly}}
          set acl_m_lrc = ${if eq{$acl_m_lrc}{}{$local_part@$domain}{$acl_m_lrc, $local_part@$domain}}

<%- if @is_packagesmaster -%>
  warn    condition      = ${if eq {$acl_m_prf}{PackagesMail}}
          condition      = ${if eq {$sender_address}{$local_part@$domain}}
          add_header     = X-Packages-FromTo-Same: yes

<%- end -%>
  deny    condition      = ${if !eq {$acl_m_prf}{PopconMail}}
          !verify        = sender

  warn    !hosts         = +debianhosts
          condition      = ${if !eq {$acl_m_prf}{PopconMail}}
          condition      = ${if >{${eval:$acl_c_scr+0}}{0}}
          ratelimit      = 10 / 60m / per_rcpt / strict / s_$sender_host_address
          log_message    = Sender rate (strict) $sender_rate / $sender_rate_period (limit: $sender_rate_limit)

  warn    !hosts         = +debianhosts
          condition      = ${if !eq {$acl_m_prf}{PopconMail}}
          condition      = ${if >{${eval:$acl_c_scr+0}}{0}}
          ratelimit      = 10 / 60m / per_rcpt / l_$sender_host_address
          log_message    = Sender rate (leaky) $sender_rate / $sender_rate_period (limit: $sender_rate_limit)

  defer   !hosts         = +debianhosts
          condition      = ${if !eq {$acl_m_prf}{PopconMail}}
          condition      = ${if >{${eval:$acl_c_scr+0}}{0}}
          ratelimit      = 10 / 60m / per_rcpt / l_$sender_host_address
          message        = slow down (no reverse dns, mismatched ehlo, dialup, or in blocklists)

<%- if has_variable?("policydweight") && @policydweight -%>
  # Check with policyd-weight
  warn  !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        set acl_m_pw   = ${readsocket{inet:127.0.0.1:12525}\
                          {request=smtpd_access_policy\n\
                           protocol_state=RCPT\n\
                           protocol_name=${uc:$received_protocol}\n\
                           helo_name=$sender_helo_name\n\
                           queue_id=$message_exim_id\n\
                           sender=$sender_address\n\
                           recipient=$local_part@$domain\n\
                           recipient_count=$rcpt_count\n\
                           client_address=$sender_host_address\n\
                           client_name=$sender_host_name\n\
                           reverse_client_name=$sender_host_name\n\
                           instance=$sender_host_address.$sender_address.$sender_helo_name\n\n}\
                          {20s}{\n}{socket failure}}

  # Defer on socket error
  defer !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        condition      = ${if eq{$acl_m_pw}{socket failure}}
        message        = Cannot connect to policyd-weight. Please try again later.

  # Set proposed action to $acl_m_act and message to $acl_m_mes
  warn  !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        set acl_m_mes  = ${extract{action}{$acl_m_pw}}
        set acl_m_act  = ${sg{$acl_m_pw}{\Naction=[^ ]+ (.*)\n\n\N}{\$1}}

  # Add X-policyd-weight header line to message
  warn  !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        message        = $acl_m_mes
        condition      = ${if eq{$acl_m_act}{PREPEND}}

  # Write log message, if policyd-weight can't run checks
  warn  !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        log_message    = policyd-weight message: $acl_m_mes
        condition      = ${if eq{$acl_m_act}{DUNNO}}

  # Deny mails which policyd-weight thinks are spam
  deny  !hosts         = +debianhosts
        condition      = ${if !eq {$acl_m_prf}{PopconMail}}
        message        = policyd-weight said: $acl_m_mes
        condition      = ${if eq{$acl_m_act}{550}}

  # Defer messages when policyd-weight suggests so.
  defer  !hosts         = +debianhosts
         condition      = ${if !eq {$acl_m_prf}{PopconMail}}
         message        = policyd-weight said: $acl_m_mes
         condition      = ${if eq{$acl_m_act}{450}}

<%- end -%>
<%- if @is_rtmaster -%>
  warn    condition     = ${if eq{$acl_m_prf}{RTMail}}
           set acl_m12  = ${if def:acl_m12 {$acl_m12} {${if or{{match{$local_part}{\N[^+]+\+\d+\N}}{match{$local_part}{\N[^+]+\+new\N}}} {RTMailRecipientHasSubaddress}}}}

<%- end -%>
<%- if has_variable?("greylistd") && @greylistd -%>
  defer
    message  = $sender_host_address is not yet authorized to deliver mail from <$sender_address> to <$local_part@$domain>.
    log_message = greylisted.
    condition      = ${if or { \
                                 {eq{$acl_m_grey_recip}{1}} \
                                 {bool_lax{$acl_m_defopt}} \
                             } \
                      }
    !senders       = :
    !hosts         = : +debianhosts : WHITELIST : \
                     ${if exists {/etc/greylistd/whitelist-hosts}\
                                 {/etc/greylistd/whitelist-hosts}{}} : \
                     ${if exists {/var/lib/greylistd/whitelist-hosts}\
                                 {/var/lib/greylistd/whitelist-hosts}{}} 
    !dnslists      = list.dnswl.org&0.0.0.3
    condition      = ${if !eq {$acl_m_prf}{PopconMail}}
    !authenticated = *
    domains        = +handled_domains
    condition      = ${readsocket{/var/run/greylistd/socket}\
                                 {--grey \
                                  $sender_host_address \
                                  $sender_address \
                                  $local_part@$domain}\
                                 {5s}{}{false}}

<%- elsif has_variable?("postgrey") && @postgrey -%>
  # next three are greylisting, inspired by http://www.bebt.de/blog/debian/archives/2006/07/30/T06_12_27/index.html
  # this adds acl_m_grey if there isn't one (so unique per message)
  warn
    !senders       = :
    !hosts         = : +debianhosts : WHITELIST
    !dnslists      = list.dnswl.org&0.0.0.3
    condition      = ${if !eq {$acl_m_prf}{PopconMail}}
    condition      = ${if ! def:acl_m_grey}
    set acl_m_grey = $pid.$tod_epoch.$sender_host_port

  # and defers the message if postgrey thinks it should be defered ...
  defer
    !senders       = :
    !hosts         = : +debianhosts : WHITELIST
    !dnslists      = list.dnswl.org&0.0.0.3
    condition      = ${if !eq {$acl_m_prf}{PopconMail}}
    !authenticated = *
    domains        = +handled_domains
    condition      = ${if or { \
                                 {eq{$acl_m_grey_recip}{1}} \
                                 {bool_lax{$acl_m_defopt}} \
                             } \
                      }
    set acl_m_pgr  = request=smtpd_access_policy\n\
                     protocol_state=RCPT\n\
                     protocol_name=${uc:$received_protocol}\n\
                     instance=${acl_m_grey}\n\
                     helo_name=${sender_helo_name}\n\
                     client_address=${sender_host_address}\n\
                     client_name=${sender_host_name}\n\
                     sender=${sender_address}\n\
                     recipient=$local_part@$domain\n\n
    set acl_m_pgr  = ${sg{\
                         ${readsocket{/var/run/postgrey/socket}{$acl_m_pgr}\
                               {5s}{}{action=DUNNO}}\
                     }{action=}{}}
    message        = ${sg{$acl_m_pgr}{\N^\w+\s*\N}{}}
    log_message    = greylisted.
    condition      = ${if eq{${uc:${substr{0}{5}{$acl_m_pgr}}}}{DEFER}}

 # ... or adds a header with information about how long the delay was
 warn
    !senders       = :
    !hosts         = : +debianhosts : WHITELIST
    !dnslists      = list.dnswl.org&0.0.0.3
    condition      = ${if !eq {$acl_m_prf}{PopconMail}}
    !authenticated = *
    domains        = +handled_domains
    condition      = ${if or { \
                                 {eq{$acl_m_grey_recip}{1}} \
                                 {bool_lax{$acl_m_defopt}} \
                             } \
                      }
    condition      = ${if eq{${uc:${substr_0_7:$acl_m_pgr}}}{PREPEND}}
    message        = ${sg{$acl_m_pgr}{\N^\w+\s*\N}{}}

<%- end -%>
  deny    hosts        = ${if exists{/etc/exim4/host_blocklist}{/etc/exim4/host_blocklist}{}}
          message      = I'm terribly sorry, but it seems you have been blocked
          log_message  = blocked IP

  deny   log_message   = <$sender_address> is blocked
         senders       = ${if exists{/etc/exim4/blocklist}{/etc/exim4/blocklist}{}}
         message       = We have blocked <$sender_address>.  Please stop mailing us

  accept  local_parts   = +postmasterish
          domains       = +virtual_domains : +bsmtp_domains

<%- unless @use_smarthost -%>
  deny    message      = host $sender_host_address is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          domains      = +handled_domains
          !hosts       = +debianhosts : WHITELIST
          condition    = ${if forany{DNSBLLIST}{! acl{{acl_check_dnsbl}{$item}}}}

  deny    message     = host $sender_host_address is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          domains     = +handled_domains
          !hosts      = +debianhosts : WHITELIST
          condition   = ${if forany{noserver.dnsbl.sorbs.net}{! acl{{acl_check_dnsbl}{$item}}}}

  deny    message     = host $sender_host_address is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          condition   = ${if bool_lax{$acl_m_defopt}}
          domains     = +handled_domains
          !hosts      = +debianhosts : WHITELIST
          condition   = ${if forany{relays.dnsbl.sorbs.net : xbl.spamhaus.org}{! acl{{acl_check_dnsbl}{$item}}}}

<%- end -%>
  deny    message     = domain $sender_address_domain is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          domains     = +handled_domains
          !hosts      = +debianhosts : WHITELIST
          condition   = ${if forany{RHSBLLIST}{! acl{{acl_check_dnsbl}{$item}}}}

  deny    message     = domain $sender_address_domain is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          domains     = +handled_domains
          !hosts      = +debianhosts : WHITELIST
          condition   = ${if forany{nomail.rhsbl.sorbs.net/$sender_address_domain}{! acl{{acl_check_dnsbl}{$item}}}}

  deny    message     = domain $sender_address_domain is listed in $dnslist_domain ($dnslist_value)${if >{${strlen:${dnslist_text}}}{0}{; see $dnslist_text}}
          condition   = ${if bool_lax{$acl_m_defopt}}
          domains     = +handled_domains
          !hosts      = +debianhosts : WHITELIST
          condition   = ${if forany{dbl.spamhaus.org/$sender_address_domain}{! acl{{acl_check_dnsbl}{$item}}}}

<%- unless @use_smarthost -%>
  deny    domains  = +handled_domains
          local_parts = ${if match_domain{$domain}{+virtual_domains}\
                        {${if exists {${extract{directory}{VDOMAINDATA}{${value}/callout_users}}}\
                        {${lookup{$local_part}lsearch*{${extract{directory}{VDOMAINDATA}{${value}/callout_users}}}{$local_part}{}}}{}}}\
                        {${lookup{$local_part}lsearch{/etc/exim4/callout_users}{$local_part}{}}}} : \
                        ${lookup{$local_part}lsearch{/var/lib/misc/$primary_hostname/mail-callout}{$local_part}{}}
          !hosts   = +debianhosts : WHITELIST
	  !verify  = sender/callout=90s,maxwait=300s
	  message  = "Sender verification failed: $acl_verify_message"

<%- end -%>
<%- if @is_mailrelay -%>
  accept  domains  = +mailhubdomains
          endpass
	  verify   = recipient/callout=30s,defer_ok,use_sender,no_cache

<%- end -%>
  accept  domains  = +handled_domains
          endpass
	  verify   = recipient/defer_ok

  accept  hosts         = +debianhosts

  accept  authenticated = *

  deny    message = relay not permitted

<%- if @heavy -%>
acl_check_mime:

 accept  verify        = certificate
 accept  hosts         = +debianhosts

 warn    set acl_m_srb = false

 warn    condition     = ${if <{$message_size}{MAX_SCAN_SIZE}}
         set acl_m_srb = ${perl{surblspamcheck}}

 # An SURBL rejection that doesn't mention a specific list
 # most likely means that the query was blocked for some reason.
 # Don't treat that as a reason to reject the message ourselves.
 warn    condition     = ${if match {$acl_m_srb}{\N\) in\. See \N}}
         log_message   = ignoring probable false-positive surbl hit [$acl_m_srb]
         set acl_m_srb = false

 discard condition     = ${if eq {$acl_m_prf}{blackhole}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         log_message   = discarded surbl message for $recipients

  deny   condition     = ${if !eq {$acl_m_prf}{markup}}
         condition     = ${if !eq {$acl_m_prf}{PopconMail}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         log_message   = $acl_m_srb
         message       = $acl_m_srb

  warn   condition     = ${if eq {$acl_m_prf}{markup}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         add_header    = X-Surbl-Hit: $primary_hostname: $acl_m_srb
         log_message   = marked up surbl message for $recipients [$acl_m_srb]

  # Dump MIME parts to disk. "default" creates sequentially-named files
  # in <spool_directory>/scan/<message_id>/ which should then be
  # automagically unlinked after processing.
  warn   decode        = default

  # Log some information about attachments for debugging
  warn   log_message   = MIME part [$mime_part_count] -> [${extract{-1}{.}{${lc:$mime_filename}}}] [$mime_content_type]

  accept

<%- end -%>
acl_check_predata:
  deny   condition     = ${if eq{$acl_m_prf}{localonly}}
         message       = mail for $acl_m_lrc is only accepted internally

  accept


#!!# ACL that is used after the DATA command
check_message:
  # A slightly "cleaned up" form of the From: header that's
  # easier to match against
  warn   set acl_m_from = ${sg{${sg{${sg{$h_From:}{"}{}}}{<}{ <}}}{  +}{ }}

  # Some people put from postmaster@something.debian.org in the From
  # header.  Take their crack pipe away.
  drop   condition = ${if match{${lc:${address:$h_From:}}}{\N^postmaster@([^.]+\.)?debian\.org$\N}}
         message   = Header problem: message rejected

  # If the sending system says the mail is spam, believe them
  deny    condition = ${if eqi {$h_X-Spam-Status:}{YES}}
          message   = Incoming spam flags

<%- if @is_rtmaster -%>
  deny    condition = ${if eq {$acl_m_prf}{RTMail}}
          condition = ${if and{{!match {${lc:$h_Subject:}} {debian rt}} \
                               {!match {${lc:$h_Subject:]}} {\N\[rt.debian.org \N}} \
                               {!match {$acl_m12}{RTMailRecipientHasSubaddress}}}}
          message  = messages to the Request Tracker system require a subject tag or a subaddress

<%- end -%>
<%- if @is_packagesqamaster -%>
  deny    !hosts  = +debianhosts
          condition = ${if eq {$acl_m_prf}{PTSMail}}
          condition = ${if !def:h_X-PTS-Approved:}
          message   = messages to the PTS require an X-PTS-Approved header

<%- end -%>
  deny    condition      = ${if eq {$acl_m_prf}{RequireSignedMail}}
          condition      = ${if and {{!match {$message_body}{PGP MESSAGE}}              \
                                     {!match {$message_body}{PGP SIGNED MESSAGE}}       \
                                     {!match {$message_body}{PGP SIGNATURE}}            \
                                     {!match {$header_content-type:}{multipart/signed}} \
                                     {!match {$header_content-type:}{pgp}}              \
                                    }                                                   \
                            }
          message        = Mail to this address needs to be PGP-signed

  deny    condition      = ${if eq  {$acl_m_prf}{DBAdmin}}
          condition      = ${if eqi {$h_Subject:}{re: db change request}}
          message        = Mail to this address needs a more specific subject

  accept  verify    = certificate
  accept  hosts     = +debianhosts

  deny    condition = ${if !eq {$acl_m_prf}{PopconMail}}
          !senders  = +header_check_exceptions
          condition = ${if ! and {{match{$h_From:}{\N.+@.+\N}}{match_address{${address:$h_From:}}{+header_check_exceptions}}}}
          !verify   = header_syntax
          message   = Invalid header syntax: $acl_verify_message

# RFC 822 and 2822 say that headers must be ASCII.  This kinda emulates
# postfix's strict_7bit_headers option, but only checks a few common problem
# headers, as there doesn't appear to be an easy way to check them all.
  deny
	  condition       = ${if or {{match {$rh_Subject:}{[\200-\377]}}\
	                         {match {$rh_To:}{[\200-\377]}}\
				 {match {$rh_From:}{[\200-\377]}}\
				 {match {$rh_Cc:}{[\200-\377]}}}}
          condition       = ${if !eq {$acl_m_prf}{PopconMail}}
	  message         = improper use of 8-bit data in message header: message rejected

  deny
	  condition       = ${if match {$rh_Subject:}{[^[:print:]]\{8\}}}
          condition       = ${if !eq {$acl_m_prf}{PopconMail}}
	  message         = Your mailer is not RFC 2047 compliant: message rejected

  deny    condition       = ${if match {$rh_Received:}{\N from [^ ]+\.example\.com \N}}
          log_message     = Implausible Received header
          message         = Header problem: message rejected

  deny    condition       = ${if match {$rh_User-Agent:}{\N(\(Win9[58]; U\)|\(Windows; U; Windows NT 5\.2;|\(Windows ME; U\)|Gecko/200[0-3]\d{4})\N}}
          log_message     = Implausible User-Agent [$h_User-Agent:]
          message         = Header problem: message rejected

  deny    condition       = ${if match {$rh_X-Mailer:}{\N(Microsoft Outlook Express (5\.[05]0\.\d{4}\.\d{4}|6\.00\.2[6-9]00\.\d{4})|Internet Mail Service \(5\.5\.2650\.21\)|Microsoft Windows Live Mail 14\.0\.8117\.416)\N}}
          log_message     = Implausible X-Mailer [$h_X-Mailer:]
          message         = Header problem: message rejected

  deny    condition       = ${if or {\
                                     {match {$acl_m_from}{\N^debian\.org IT dep(artmen)?t\N}} \
                                     {match {$acl_m_from}{\N^(REG-#[0-9]+ )?debian\.org Server (Alert #2020|Mail #2020 Alert) <\N}} \
                                     {match {$acl_m_from}{\N(?i)^(db\.)?debian\.org( ((email )?support|it service desk|notify team|helpdesk|mail service))? <\N}} \
                                     {match {$acl_m_from}{\N^Debian Email Centre <\N}} \
                                     {match {$acl_m_from}{\N(?i)^support@debian\.org <\N}} \
                                     {match {$acl_m_from}{\N(?i)^(db\.)?debian\.org admin <\N}} \
                                     {match {$acl_m_from}{\N(?i)^((ser?ver )?admin|postmaster)[- ]+(db\.)?debian\.org <\N}} \
                                     {match {$acl_m_from}{\N^(db\.)?debian\.org Mailboxusernotifications <\N}} \
                                     {match {$acl_m_from}{\N^debian\.org™ <\N}} \
                                     {match {$acl_m_from}{\N^Secure Support debian\.org\N}} \
                                     {match {$rh_From:}{\N=\?UTF-8\?B\?4pyJIA==\?=db\.debian\.org\N}} \
                                    }\
                            }
          log_message     = Implausible sender [$h_From:]
          message         = Header problem: message rejected

  deny    condition       = ${if match {$h_Subject:}{\N^debian\.id is for sale\N}}
          log_message     = We don't want to buy debian.id
          message         = Header problem: message rejected

  deny    condition       = ${if match {$message_body}{\N(They want to apply for|requested) "debian" as their internet keyword\N}}
          condition       = ${if match {$h_Subject:}{\N^debian$\N}}
          log_message     = We don't want to buy debian.cn
          message         = Header problem: message rejected

  deny    condition       = ${if match {$h_Subject:}{\N^Don't miss your unsettled payment\. Complete your debt payment now\.\N}}
          log_message     = Rejected crypto phishing mail
          message         = Header problem: message rejected

  deny    condition       = ${if match {$message_body}{\NHave you recently noticed that I have e-mailed you from your account\N}}
          condition       = ${if match {$h_Subject:}{\N^Waiting for the payment\N}}
          log_message     = Rejected crypto phishing mail
          message         = Header problem: message rejected

  deny    condition       = ${if match {$message_body}{\NIf you decide not to pay, we will launch the attack after 72 hours\N}}
          condition       = ${if match {$h_Subject:}{\Ndatabases and emails has been hacked\N}}
          log_message     = Rejected crypto phishing mail
          message         = Header problem: message rejected

  deny    condition       = ${if match {$message_body}{\Nyour your site/server which have gained us remote control\N}}
          condition       = ${if match {$h_Subject:}{\NYour Site Has Been Hacked\N}}
          log_message     = Rejected crypto phishing mail
          message         = Header problem: message rejected

  deny    condition       = ${if def:h_Message-ID:}
          condition       = ${if match {$h_Message-ID:}{\N\.mailo\.com>?$\N}}
          log_message     = Rejected mailo.com mail due to abuse
          message         = Header problem: message rejected

  warn    condition      = ${if bool_lax{$acl_m_defopt}}
          !hosts         = +debianhosts : WHITELIST
          condition      = ${if or {\
                                    {match {$h_Subject:}{\N^Garantie Darlehen Angebot gelten jetzt$\N}} \
                                    {match {$h_Subject:}{\N^Congratulation: You're a winner!$\N}} \
                                    {match {$h_Subject:}{\N^\d+ suspended incoming messages in (db\.)?debian\.org portal\N}} \
                                    {match {$h_Subject:}{\N : \(\d+\)Incoming messages are blocked on your mail server\.?$\N}} \
                                    {match {$h_Subject:}{\NYour Mailbox is Full,  Secure Your Files Now\N}} \
                                    {match {$h_Subject:}{\N^(\w+\.)?debian\.org Deactivation Notice\N}} \
                                    {match {$h_Subject:}{\N^incoming mails suspended on debian\.org server\N}} \
                                    {match {$h_Subject:}{\NYou received invoice from DocuSign Signature Service\N}} \
                                    {match {$rh_Subject:}{\N^=\?UTF-8\?Q\?Damit_Sie_weiterhin_online_bezahlen_k=C3=B6nnen\?=$\N}} \
                                   }\
                           }
          set acl_m_subject = 1

  discard condition      = ${if eq {$acl_m_prf}{blackhole}}
          condition      = ${if eq {$acl_m_subject}{1}}
          log_message    = Discarded mail for $recipients (subject)

  deny    condition      = ${if !eq {$acl_m_prf}{markup}}
          condition      = ${if eq {$acl_m_subject}{1}}
          message        = Rejected due to suspicious header

  warn    condition      = ${if eq {$acl_m_prf}{markup}}
          condition      = ${if eq {$acl_m_subject}{1}}
          add_header     = X-debian-subject-warning: yes
          log_message    = Added X-debian-subject-warning:

  warn    set acl_m_body = ${sg{$message_body}{= }{}}

  warn    condition      = ${if bool_lax{$acl_m_defopt}}
          !hosts         = +debianhosts : WHITELIST
          condition      = ${if or {\
                                    {match {$acl_m_body}{Wenn Sie zuk&uuml;nftig keine weiteren Informationen erhalten m&ouml;chten, <br />unwissentlich oder unbeabsichtigt in den Verteiler aufgenommen wurden,}} \
                                    {match {$acl_m_body}{\N(?i)Dear Beneficiary.*You have been selected.*Thousand United States Dollars\N}} \
                                    {match {$acl_m_body}{\N(?i)(I was able to divert|sum of) (\S+ ){1,6}million (united states? |us )?dollar\N}} \
                                    {match {$acl_m_body}{\N(?i)receiving sum of money into your account for safe keeping\N}} \
                                    {match {$acl_m_body}{\N(?i) (ready to invest|to receive|the sum of) (USD\$?|\$)[\d,.]+M \N}} \
                                    {match {$acl_m_body}{\N(?i) the sum of euro? [\d,.]{8,} \N}} \
                                    {match {$acl_m_body}{\N(?i)I got your e-mail address through an internet marketing firm\N}} \
                                    {match {$acl_m_body}{\N(?i)De conformidad con lo establecido en la Ley 34/2002 Lssice le comunicamos que este escrito procede de Search Task\N}} \
                                    {match {$acl_m_body}{\NIf you are already our customer then please ignore this email\N}} \
                                    {match {$acl_m_body}{\N(Your [\w-]+@debian.org quota is full|\.debian\.org Webmail Administrator)\N}} \
                                    {match {$acl_m_body}{\N<META name=3D"GENERATOR" content=3D"-\[OUTLOOK_VER\]-">\N}} \
                                    {match {$acl_m_body}{\NAll words on this page are an ad that was sent-to you\N}} \
                                    {match {$acl_m_body}{\NI need your assistance in investing my money\N}} \
                                    {match {$acl_m_body}{\Nhttp://emily2\.pw\N}} \
                                    {match {$acl_m_body}{\NSTEP 1\) Unsubscribe [^ ]+: www\.Unsubscribe-me\.page\.tl\N}} \
                                    {match {$acl_m_body}{\NMail cannot be considered spam as long as we include contact information\N}} \
                                    {match {$acl_m_body}{\N\(c\) Poweredby: IT debian\.org Support\N}} \
                                   }\
                            }
          set acl_m_content = 1

  discard condition      = ${if eq {$acl_m_prf}{blackhole}}
          condition      = ${if eq {$acl_m_content}{1}}
          log_message    = Discarded suspicious content for $recipients

  deny    condition      = ${if !eq {$acl_m_prf}{markup}}
          condition      = ${if eq {$acl_m_content}{1}}
          message        = Rejected due to suspicious content

  warn    condition      = ${if eq {$acl_m_prf}{markup}}
          condition      = ${if eq {$acl_m_content}{1}}
          add_header     = X-debian-content-warning: yes
          log_message    = Added X-debian-content-warning

<%- if has_variable?("clamd") && @clamd -%>
  discard condition       = ${if eq {$acl_m_prf}{blackhole}}
          malware         = */defer_ok
          log_message     = discarded malware message for $recipients

  deny    condition       = ${if !eq {$acl_m_prf}{markup}}
          condition       = ${if !eq {$acl_m_prf}{PopconMail}}
          malware         = */defer_ok
          message         = malware detected: $malware_name: message rejected

  warn    condition       = ${if eq {$acl_m_prf}{markup}}
          malware         = */defer_ok
          message         = X-malware detected: $malware_name

<%- end -%>
<%- if @heavy -%>
  warn   set acl_m_srb = false

  warn   condition     = ${if <{$message_size}{MAX_SCAN_SIZE}}
         set acl_m_srb = ${perl{surblspamcheck}}

  # An SURBL rejection that doesn't mention a specific list
  # most likely means that the query was blocked for some reason.
  # Don't treat that as a reason to reject the message ourselves.
  warn   condition     = ${if match {$acl_m_srb}{\N\) in\. See \N}}
         log_message   = ignoring probable false-positive surbl hit [$acl_m_srb]
         set acl_m_srb = false

 discard condition     = ${if eq {$acl_m_prf}{blackhole}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         log_message   = discarded surbl message for $recipients

  deny   condition     = ${if !eq {$acl_m_prf}{markup}}
         condition     = ${if !eq {$acl_m_prf}{PopconMail}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         log_message   = $acl_m_srb
         message       = $acl_m_srb

  warn   condition     = ${if eq {$acl_m_prf}{markup}}
         condition     = ${if !eq{$acl_m_srb}{false}}
         message       = X-Surbl-Hit: $primary_hostname: $acl_m_srb

<%- end -%>
  # Check header_sender except for survey@popcon.d.o
  deny    condition    = ${if !eq{$acl_m_prf}{PopconMail}}
          !senders     = +header_check_exceptions
          condition    = ${if ! and {{match{$h_From:}{\N.+@.+\N}}{match_address{${address:$h_From:}}{+header_check_exceptions}}}}
          !verify      = header_sender
          message      = No valid sender found in the From:, Sender: and Reply-to: headers

<%- if @is_packagesmaster -%>
  deny  message        = Congratulations, you scored $spam_score points.
        log_message    = spam: $spam_score points.
        condition      = ${if eq {$acl_m_prf}{PackagesMail}}
        !authenticated = *
        !verify        = certificate
        !hosts         = +debianhosts
        condition      = ${if <{$message_size}{MAX_SCAN_SIZE}}
        spam           = pkg_user : true
        condition      = ${if >{$spam_score_int}{59}}

<%- end -%>
  accept


<%- if @is_mail_submit -%>
######################################################################
#                      AUTHENTICATORS CONFIGURATION                  #
######################################################################

begin authenticators

  plain_server:
    driver = plaintext
    public_name = PLAIN
    server_prompts = :
    server_condition = "${if crypteq{$auth3}{${extract{1}{:}{${lookup{$auth2}lsearch{/var/lib/misc/thishost/mail-passwords}{$value}{*:*}}}}}}"
    # Becomes $authenticated_id which will be used in check_submission
    server_set_id = $auth2
    server_advertise_condition = ${if def:tls_in_cipher}

  login_server:
    driver = plaintext
    public_name = LOGIN
    server_prompts = "Username:: : Password::"
    server_condition = "${if crypteq{$auth2}{${extract{1}{:}{${lookup{$auth1}lsearch{/var/lib/misc/thishost/mail-passwords}{$value}{*:*}}}}}}"
    server_set_id = $auth1
    server_advertise_condition = ${if def:tls_in_cipher}



<%- end -%>
######################################################################
#                      REWRITE CONFIGURATION                         #
######################################################################



begin rewrite

\N^buildd_(.*)@fasolo\.debian\.org$\N buildd_$1@buildd.debian.org T
*@debian.org ${lookup{$1}dbmnz{/var/lib/misc/${primary_hostname}/mail-forward.db}{$value}fail} T
*@people.debian.org ${lookup{$1}dbmnz{/var/lib/misc/${primary_hostname}/mail-forward.db}{$value}fail} T
#*@${primary_hostname} "${if exists{/etc/exim4/email-addresses}{${lookup{$1}lsearch{/etc/exim4/email-addresses}{$value}fail}}fail}" fFs


######################################################################
#                      ROUTERS CONFIGURATION                         #
#                Specifies how addresses are handled                 #
######################################################################
#                          ORDER DOES MATTER                         #
#     An address is passed to each in turn until it is accepted.     #
######################################################################

begin routers

<%- if @is_mailrelay -%>
relay_manualroute:
  debug_print = "R: relay_manualroute for $local_part@$domain"
  driver = manualroute
  domains = +mailhubdomains
  dnssec_request_domains = *
  transport = ${if forany{${lookup dnsdb{>: mxh=$domain}}}\
                  {match_domain{$item}{+single_domain_mx}}\
                  {remote_smtp_single_domain}{remote_smtp}\
               }
  route_data = ${lookup{$domain}lsearch{/etc/exim4/manualroute}}
  require_files = /etc/exim4/manualroute

<%- end -%>
bsmtp:
  debug_print = "R: bsmtp for $local_part@$domain"
  driver = manualroute
  domains = +bsmtp_domains
  require_files = /etc/exim4/bsmtp
  route_list = * ${extract{file}{\
                   ${lookup{$domain}partial-lsearch{/etc/exim4/bsmtp}\
		     {$value}fail}}}
  transport = bsmtp

# This router routes to remote hosts over SMTP by explicit IP address,
# given as a "domain literal" in the form [nnn.nnn.nnn.nnn]. The RFCs
# require this facility, which is why it is enabled by default in Exim.
ipliteral:
  debug_print = "R: ipliteral for $local_part@$domain"
  driver = ipliteral
  domains = !+handled_domains
  dnssec_request_domains = *
  transport = remote_smtp
  ignore_target_hosts = +reservedaddrs

<%- if @use_smarthost -%>
smarthost:
  debug_print = "R: smarthost for $local_part@$domain"
  driver = manualroute
  domains = !+handled_domains
  dnssec_request_domains = *
  transport = remote_smtp_smarthost
  route_list = * <%= @smarthost %>/mx
  host_find_failed = defer
  same_domain_copy_routing = yes
  no_more
<%- end -%>

# This router routes to remote hosts over SMTP using a DNS lookup.
# Ignore reserved network responses, including localhost.
dnslookup:
  debug_print = "R: dnslookup for $local_part@$domain"
  driver = dnslookup
  domains = !+handled_domains
  transport = ${if forany{${lookup dnsdb{>: mxh=$domain}}}\
                  {match_domain{$item}{+single_domain_mx}}\
                  {remote_smtp_single_domain}{remote_smtp}\
               }
  ignore_target_hosts = +reservedaddrs : \
               ${if forany{${lookup dnsdb{>: defer_never,mxh=$domain}}}\
                  {match_domain{$item}{+ipv4_only_domain_mx}}\
                  {::::/0}{}\
               }
  dnssec_request_domains = *
  no_more

postmasterish:
  debug_print = "R: postmasterish for $local_part@$domain"
  driver = redirect
  verify = false
  unseen = true
  expn = true
  local_parts = +postmasterish
  domains = +virtual_domains : +bsmtp_domains
  data = debian-admin@debian.org
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"

# This router handles aliasing using a traditional /etc/aliases file.
# If any of your aliases expand to pipes or files, you will need to set
# up a user and a group for these deliveries to run under. You can do
# this by uncommenting the "user" option below (changing the user name
# as appropriate) and adding a "group" option if necessary.

system_aliases:
  debug_print = "R: system_aliases for $local_part@$domain"
  driver = redirect
  allow_defer
  allow_fail
  data = ${lookup{$local_part}lsearch*{/etc/aliases}}
  domains = +local_domains
  file_transport = address_file
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  pipe_transport = address_pipe
  retry_use_local_part

# This router handles forwarding using traditional .forward files.
# The check_ancestor option means that if the forward file
# generates an address that is an ancestor of the current one, the 
# current one gets passed on instead. This covers the case where A is 
# aliased to B and B has a .forward file pointing to A.

# For standard Debian setup of one group per user, it is acceptable---normal
# even---for .forward to be group writable. If you have everyone in one
# group, you should comment out the "modemask" line. Without it, the Exim
# default of 022 will apply, which is probably what you want.

# Address verification runs in an unprivileged context, so
# can't change to the user / group that will be used for
# delivery. We therefore need a pair of very similar routers,
# one of which is used for verification, and the other for
# delivery.

userforward_verify:
  debug_print = "R: userforward for $local_part${local_part_suffix}@$domain"
  driver = redirect
  check_ancestor
  user = Debian-exim
  no_check_local_user
  directory_transport = address_directory
  domains = +local_domains
  # filter - I have disabled filtering to force users to use .forward-foo files
  # or procmail. This will make it easier to move mailers in the future
  #
  # This attempts to locate a .forward file as follows:
  # - foo@     -> ~foo/.forward
  # - foo-bar@ -> ~foo/.forward-bar (if present)
  #               ~foo/.forward-default (otherwise)
  #
  # If the listed file does not exist, then the router will be skipped
  condition = ${if > {${strlen:$home}}{0}}
  file = ${if eq{}{$local_part_suffix}{$home/.forward}{\
             $home/${lookup{.forward$local_part_suffix}dsearch{$home}\
               {$value}\
               {.forward-default}\
             }\
          }}
  file_transport = address_file
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  local_part_suffix = -*
  local_part_suffix_optional
  modemask = 002
  pipe_transport = address_pipe
  reply_transport = address_reply
  require_files = $home
  router_home_directory = ${lookup passwd{$local_part}{${extract{5}{:}{$value}}}fail}
  verify_only

# This is a sendmailesque alias file lookup
virt_aliases:
  debug_print = "R: virt_aliases for $local_part@$domain"
  driver = redirect
  allow_defer
  allow_fail
  data = ${if exists{\
           ${extract{directory}{VDOMAINDATA}{${value}/aliases}}}\
	   {${lookup{$local_part}lsearch*{\
              ${extract{directory}{VDOMAINDATA}{$value/aliases}}\
	   }}}}
  directory_transport = address_directory
  domains = +virtual_domains
  file_transport = ${if eq {${extract{group_writable}{VDOMAINDATA}}}{true}{address_file_group}{address_file}}
  cannot_route_message = Unknown user
  group = ${extract{group}{VDOMAINDATA}}
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  pipe_transport = address_pipe
  qualify_preserve_domain
  retry_use_local_part
  transport_current_directory = ${extract{directory}{VDOMAINDATA}}
  transport_home_directory = ${extract{directory}{VDOMAINDATA}}
  user = ${extract{user}{VDOMAINDATA}}
  
# No direct match, so try doing a regex match if there's an
# aliases.regex
virt_aliases_regex:
  debug_print = "R: virt_aliases_regex for $local_part$local_part_suffix@$domain"
  driver = redirect
  allow_defer
  allow_fail
  data = ${if exists{\
           ${extract{directory}{VDOMAINDATA}{${value}/aliases.regex}}}\
	   {${lookup{$local_part}nwildlsearch*{\
              ${extract{directory}{VDOMAINDATA}{$value/aliases.regex}}\
	   }}}}
  directory_transport = address_directory
  domains = +virtual_domains
  file_transport = ${if eq {${extract{group_writable}{VDOMAINDATA}}}{true}{address_file_group}{address_file}}
  cannot_route_message = Unknown user
  group = ${extract{group}{VDOMAINDATA}}
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  pipe_transport = address_pipe
  qualify_preserve_domain
  retry_use_local_part
  transport_current_directory = ${extract{directory}{VDOMAINDATA}}
  transport_home_directory = ${extract{directory}{VDOMAINDATA}}
  user = ${extract{user}{VDOMAINDATA}}

userforward:
  debug_print = "R: userforward for $local_part${local_part_suffix}@$domain"
  driver = redirect
  check_ancestor
  check_local_user
  directory_transport = address_directory
  domains = +local_domains
  # filter - I have disabled filtering to force users to use .forward-foo files
  # or procmail. This will make it easier to move mailers in the future
  #
  # This attempts to locate a .forward file as follows:
  # - foo@     -> ~foo/.forward
  # - foo-bar@ -> ~foo/.forward-bar (if present)
  #               ~foo/.forward-default (otherwise)
  #
  # If the listed file does not exist, then the router will be skipped
  file = ${if eq{}{$local_part_suffix}{$home/.forward}{\
             $home/${lookup{.forward$local_part_suffix}dsearch{$home}\
               {$value}\
               {.forward-default}\
             }\
          }}
  file_transport = address_file
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  local_part_suffix = -*
  local_part_suffix_optional
  modemask = 002
  pipe_transport = address_pipe
  reply_transport = address_reply
  require_files = $home
  no_verify

# This delivers to procmail
procmail:
  debug_print = "R: procmail for $local_part@$domain"
  driver = accept
  check_local_user
  domains = +local_domains
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  local_part_suffix = -*
  local_part_suffix_optional
  no_verify
  no_expn
  require_files = $local_part:$home/.procmailrc
  transport = procmail_pipe
  transport_current_directory = $home
  
# This driver delivers to the LDAP generated alias file.
ldap_aliases:
  debug_print = "R: ldap_aliases for $local_part@$domain"
  driver = redirect
  allow_defer
  allow_fail
  data = ${if exists{/var/lib/misc/$primary_hostname/user-forward.db}\
             {${lookup{$local_part}dbmnz\
	       {/var/lib/misc/$primary_hostname/user-forward.db}}}}
  domains = +local_domains
  file_transport = address_file
  local_part_suffix = -*
  local_part_suffix_optional
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  pipe_transport = address_pipe
  retry_use_local_part
  
# This router matches local user mailboxes.
localuser:
  debug_print = "R: localuser for $local_part@$domain"
  driver = accept
  check_local_user
  domains = +local_domains
  local_part_suffix = -*
  local_part_suffix_optional
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  # Disable if the user has never logged in
  require_files = $home
  transport = local_delivery
  no_more

# Now we begin the Virtual Domain configuration
# Everything before here should apply only to the local domains with a 
# domains= rule

<%- if @is_packagesmaster -%>
# This router delivers for packages.d.o
packages:
  debug_print = "R: packages for $local_part@$domain"
  driver = redirect
  file_transport = address_file
  pipe_transport = address_pipe
  domains = packages.debian.org
  require_files = /srv/packages.debian.org/conf/maintainer
  data = ${lookup{$local_part}cdb{/srv/packages.debian.org/conf/maintainer.cdb}}
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  transport_home_directory = /srv/packages.debian.org/mail
  transport_current_directory = /srv/packages.debian.org/mail
  check_ancestor
  retry_use_local_part
  no_more

<%- end -%>
<%- if @is_rtmaster -%>
# This router delivers for rt.d.o
rt_force_new_verbose:
  debug_print = "R: rt for $local_part+new@$domain"
  driver = redirect
  domains = rt.debian.org
  require_files = /usr/bin/rt-mailgate : RT_QUEUE_MAP
  local_parts = ${lookup{${sg{$local_part}{-comment}{}}}lsearch{RT_QUEUE_MAP}{$local_part}{}}
  local_part_suffix = +new
  pipe_transport = rt_pipe
  data = "|/usr/bin/rt-mailgate --queue '${lookup{${sg{$local_part}{-comment}{}}}lsearch{RT_QUEUE_MAP}}' --url https://rt.debian.org/ --ca-file /etc/ssl/ca-debian/ca-certificates.crt --action ${if match{$local_part}{.*-comment.*}{comment}{correspond}}"
  headers_remove = Subject
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}\nRT_SUBJECT"

# FIXME: figure out how to generalize this approach so that all of the following would work
# - rt+NNNN@rt.debian.org          : attach correspondence to ticket (verbose)
# - rt+NNNN-quiesce@rt.debian.org  : attach correspondence to ticket (quiesce)
# - rt+NNNN-<action>@rt.debian.org : attach correspondence to ticket (some action)
# requires modification to custom condition in 'scrips'
rt_force_new_quiesce:
  debug_print = "R: rt for $local_part+new-quiesce@$domain"
  driver = redirect
  domains = rt.debian.org
  require_files = /usr/bin/rt-mailgate : RT_QUEUE_MAP
  local_parts = ${lookup{${sg{$local_part}{-comment}{}}}lsearch{RT_QUEUE_MAP}{$local_part}{}}
  local_part_suffix = +new-quiesce
  pipe_transport = rt_pipe
  data = "|/usr/bin/rt-mailgate --queue '${lookup{${sg{$local_part}{-comment}{}}}lsearch{RT_QUEUE_MAP}}' --url https://rt.debian.org/ --ca-file /etc/ssl/ca-debian/ca-certificates.crt --action ${if match{$local_part}{.*-comment.*}{comment}{correspond}}"
  headers_remove = Subject
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}\nX-RT-Mode: quiesce\nRT_SUBJECT"

rt_otherwise:
  debug_print = "R: rt for $local_part@$domain"
  driver = redirect
  domains = rt.debian.org
  require_files = /usr/bin/rt-mailgate : RT_QUEUE_MAP
  local_parts = ${lookup{${sg{$local_part}{-(comment|done)}{}}}lsearch{RT_QUEUE_MAP}{$local_part}{}}
  local_part_suffix = +*
  local_part_suffix_optional
  pipe_transport = rt_pipe
  data = "|/usr/bin/rt-mailgate --queue '${lookup{${sg{$local_part}{-(comment|done)}{}}}lsearch{RT_QUEUE_MAP}}' --url https://rt.debian.org/ --ca-file /etc/ssl/ca-debian/ca-certificates.crt --extension ticket --action ${if match{$local_part}{.*-comment.*}{comment}{${if match{$local_part}{.*-done.*}{correspond-resolve}{correspond}}}}"
  headers_remove = Subject
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}\nRT_SUBJECT"
<%- end -%>

# Address verification runs in an unprivileged context, so
# can't change to the user / group that will be used for
# delivery. We therefore need a pair of very similar routers,
# one of which is used for verification, and the other for
# delivery.

virt_direct_verify:
  debug_print = "R: virt_direct for $local_part@$domain"
  driver = redirect
  no_check_local_user
  user = Debian-exim
  allow_filter
  modemask = 002
  directory_transport = address_directory
  domains = +virtual_domains
<%- if @is_trackermaster -%>
  local_part_suffix = +*
<%- else -%>
  local_part_suffix = -*
<%- end -%>
  local_part_suffix_optional
  file = ${home}/${lookup {.forward-${local_part}}dsearch{$home}\
              {$value}\
              {.forward-default}\
           }
  file_transport = address_file
  pipe_transport = address_pipe
  reply_transport = address_reply
  retry_use_local_part
  router_home_directory = ${extract{directory}{VDOMAINDATA}}
  transport_current_directory = ${extract{directory}{VDOMAINDATA}}
  verify_only

# This is a qmailesque deliver into a directory of .forward files
virt_direct:
  debug_print = "R: virt_direct for $local_part@$domain"
  driver = redirect
  allow_filter
  allow_fail
  allow_defer
  no_check_local_user
  directory_transport = address_directory
  domains = +virtual_domains
  file = ${home}/${lookup {.forward-${local_part}}dsearch{$home}\
              {$value}\
              {.forward-default}\
           }
  file_transport = ${if eq {${extract{group_writable}{VDOMAINDATA}}}{true}{address_file_group}{address_file}}
  group = ${extract{group}{VDOMAINDATA}}
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  modemask = 002
<%- if @is_trackermaster -%>
  local_part_suffix = +*
<%- else -%>
  local_part_suffix = -*
<%- end -%>
  local_part_suffix_optional
  pipe_transport = address_pipe
  reply_transport = address_reply
  retry_use_local_part
  router_home_directory = ${extract{directory}{VDOMAINDATA}}
  transport_current_directory = ${extract{directory}{VDOMAINDATA}}
  no_verify
  user = ${extract{user}{VDOMAINDATA}}
  #debug_print = .forward-${if exists {${home}/.forward-${local_part}} {${local_part}} {default}}

# This router delivers to the LDAP generated mail-forward file.
# It's only really useful for debian.org
virt_users:
  debug_print = "R: virt_users for $local_part@$domain"
  driver = redirect
  allow_defer
  allow_fail
  router_home_directory = ${extract{directory}{VDOMAINDATA}}
  transport_current_directory = ${extract{directory}{VDOMAINDATA}}
  user = ${extract{user}{VDOMAINDATA}}
  group = ${extract{group}{VDOMAINDATA}}
  # Manually construct the forwarding address, preserving the
  # local_part_suffix if the remote host is master.
  data = ${if and {{exists{${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}\
                     {! eq {${lookup{$local_part}dbmnz\
                            {${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}}\
                           {}}}\
             {${local_part:${lookup{$local_part}dbmnz\
             {${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}}\
             ${if eq {${domain:${lookup{$local_part}dbmnz\
             {${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}}}{master.debian.org}{$local_part_suffix} {}}\
             @\
             ${domain:${lookup{$local_part}dbmnz\
            {${extract{directory}{VDOMAINDATA}{${value}/mail-forward.db}}}}}}}
  domains = +virtual_domains
  file_transport = address_file
  headers_add = "Delivered-To: ${local_part}${local_part_suffix}@${domain}"
  pipe_transport = address_pipe
  local_part_suffix = -*
  local_part_suffix_optional
  retry_use_local_part

<%- if @is_bugsmx -%>
# This router delivers for bugs.d.o
bugs:
  debug_print = "R: bugs for $local_part@$domain"
  driver = accept
  transport = bugs_pipe
  domains = bugs.debian.org
  cannot_route_message = Unknown or archived bug
  require_files = /srv/bugs.debian.org/mail/run-procmail
  no_more
  local_parts = ${if match\
                  {$local_part}\
                  {\N^(\d+)(\d{2})(?:-(?:(?:submit|maintonly|quiet|forwarded|done|close|request|submitter)|(?:unsubscribe|ignore|help|(?:sub(?:scribe|help|yes|approve|reject))|unsubyes|bounce|probe|approve|reject|setlistyes|setlistsilentyes).*))?$\N}\
               {${if exists{/srv/bugs.debian.org/spool/db-h/$2/$1$2.summary}\
	       {$local_part}fail}}fail}
<%- end -%>
######################################################################
#                      TRANSPORTS CONFIGURATION                      #
######################################################################
#                       ORDER DOES NOT MATTER                        #
#     Only one appropriate transport is called for each delivery.    #
######################################################################


begin transports

# This transport is used for local delivery to user mailboxes. On Debian
# systems group mail is used so we can write to the /var/mail
# directory. (The alternative, which most other unixes use, is to deliver
# as the user's own group, into a sticky-bitted directory)
local_delivery:
  debug_print = "T: local_delivery for $local_part@$domain"
  driver = appendfile
<%- if has_variable?("exim4_ge_4_94") && @exim4_ge_4_94 -%>
  file = /var/mail/${local_part_data}
<%- else -%>
  file = /var/mail/${local_part}
<%- end -%>
  group = mail
  mode = 0660
  no_mode_fail_narrower
  return_path_add
  
# This transport is used for handling pipe addresses generated by alias
# or .forward files. It has a conventional name, since it is not actually
# mentioned elsewhere in this configuration file. (A different name *can*
# be specified via the "address_pipe_transport" option if you really want
# to.) If the pipe generates any standard output, it is returned to the sender
# of the message as a delivery error. Set return_fail_output instead if you
# want this to happen only when the pipe fails to complete normally.

address_pipe:
  debug_print = "T: address_pipe for $local_part@$domain"
  driver = pipe
  current_directory = ${home}
  environment = "EXTENSION=${substr_1:${local_part_suffix}}:\
                 EXT=${substr_1:${local_part_suffix}}:\
                 LOCAL=${local_part}${local_part_suffix}:\
                 RECIPIENT=${local_part}${local_part_suffix}@${domain}"
  return_output
  return_path_add

# This transport is used for handling file addresses generated by alias
# or .forward files.

address_file:
  debug_print = "T: address_file for $local_part@$domain"
  driver = appendfile
  return_path_add

# This transport is equivalent to "address_file", but ensures that
# any newly created files or directories are group-writable.

address_file_group:
  debug_print = "T: address_file_group for $local_part@$domain"
  driver = appendfile
  return_path_add
  mode = 0660
  directory_mode = 0770
  mode_fail_narrower = false

# This transport is used for handling file addresses generated by alias
# or .forward files if the path ends in "/", which causes it to be treated
# as a directory name rather than a file name. Each message is then delivered
# in the "maildir" format, with the directory specified
# in the .forward or alias file as the base maildir directory.

address_directory:
  debug_print = "T: address_directory for $local_part@$domain"
  driver = appendfile
  check_string = 
  maildir_format
  message_prefix = ""
  message_suffix = ""
  return_path_add

# This transport is used for handling autoreplies generated by filter
# files via various routers.
address_reply:
  debug_print = "T: address_reply for $local_part@$domain"
  driver = autoreply

# This transport is used for delivering messages over SMTP connections.

remote_smtp:
  debug_print = "T: remote_smtp for $local_part@$domain"
  driver = smtp
  connect_timeout = 15s
  delay_after_cutoff = false
  tls_certificate = /etc/exim4/ssl/thishost.crt
  tls_privatekey = /etc/exim4/ssl/thishost.key
  dnssec_request_domains = *
  dkim_domain = DKIM_DOMAIN
  dkim_private_key = DKIM_PRIVATE_KEY
  dkim_selector = DKIM_SELECTOR
  dkim_sign_headers = DKIM_SIGN_HEADERS
<%- if scope.call_function('versioncmp', [@lsbmajdistrelease, '10']) >= 0 -%>
  hosts_try_dane = *
  hosts_require_dane = *.debian.org
<%- end -%>
  hosts_try_fastopen = ! +no_fastopen_domains

remote_smtp_single_domain:
  debug_print = "T: remote_smtp_single_domain for $local_part@$domain"
  driver = smtp
  connect_timeout = 15s
  delay_after_cutoff = false
  no_multi_domain
  tls_certificate = /etc/exim4/ssl/thishost.crt
  tls_privatekey = /etc/exim4/ssl/thishost.key
  dnssec_request_domains = *
  dkim_domain = DKIM_DOMAIN
  dkim_private_key = DKIM_PRIVATE_KEY
  dkim_selector = DKIM_SELECTOR
  dkim_sign_headers = DKIM_SIGN_HEADERS
<%- if scope.call_function('versioncmp', [@lsbmajdistrelease, '10']) >= 0 -%>
  hosts_try_dane = *
  hosts_require_dane = *.debian.org
<%- end -%>
  hosts_try_fastopen = ! +no_fastopen_domains

<%- if @use_smarthost -%>
remote_smtp_smarthost:
  debug_print = "T: remote_smtp_smarthost for $local_part@$domain"
  driver = smtp
  delay_after_cutoff = false
  port = <%= @smarthost_port %>
  tls_tempfail_tryclear = false
<% if scope.call_function('versioncmp', [@lsbmajdistrelease, '10']) >= 0 -%>
  hosts_try_dane = *
  hosts_require_dane = *.debian.org
<%- end -%>
  hosts_require_tls = <%= @smarthost %>
  tls_certificate = /etc/exim4/ssl/thishost.crt
  tls_privatekey = /etc/exim4/ssl/thishost.key
  dkim_domain = DKIM_DOMAIN
  dkim_private_key = DKIM_PRIVATE_KEY
  dkim_selector = DKIM_SELECTOR
  dkim_sign_headers = DKIM_SIGN_HEADERS
<%- end -%>

# Send the message to procmail
procmail_pipe:
  debug_print = "T: procmail_pipe for $local_part@$domain"
  driver = pipe
<%- if has_variable?("exim4_ge_4_96") && @exim4_ge_4_96 -%>
  command = /usr/bin/procmail
<%- else -%>
  command = /usr/bin/procmail -a ${substr_1:${local_part_suffix}}
<%- end -%>
  return_path_add
  user = ${local_part}

bsmtp:
  debug_print = "T: bsmtp for $local_part@$domain"
  driver = appendfile
  batch_max = 100
  file = ${host}
  message_prefix = 
  message_suffix = 
  use_bsmtp
  user = ${extract{user}{\
                   ${lookup{$domain}partial-lsearch{/etc/exim4/bsmtp}\
		     {$value}fail}\
		   }}

<%- if @is_bugsmx -%>
bugs_pipe:
  debug_print = "T: bugs_pipe for $local_part@$domain"
  driver = pipe
  command = /srv/bugs.debian.org/mail/run-procmail
  environment = "EXTENSION=${substr_1:${local_part_suffix}}:\
                 EXT=${substr_1:${local_part_suffix}}:\
                 LOCAL=${local_part}${local_part_suffix}:\
                 RECIPIENT=${local_part}${local_part_suffix}@${domain}"
  return_path_add
  return_output
  user = debbugs

<%- end -%>
<%- if @is_rtmaster -%>
rt_pipe:
  debug_print = "T: rt_pipe for $local_part${local_part_suffix}@$domain"
  driver = pipe
  return_fail_output
  environment = EXTENSION=${substr_1:${local_part_suffix}}
  allow_commands = /usr/bin/rt-mailgate

<%- end -%>

######################################################################
#                      RETRY CONFIGURATION                           #
######################################################################

# Domain               Error       Retries
# ------               -----       -------

begin retry

## Note that retry rules specify when an address / host / mail should
## become eligible for retrying. They do not specify when the retry
## attempt will actually occur, as this is dependent on queue run
## frequency and timing.

# For mail to debian.org addresses, this rule starts with
# retries every 10 minutes for 2 hours, then increasing retry intervals,
# starting at 2 hours and increasing each time by a factor of 1.5, up to 16
# hours, then retries every 8 hours until 14 days have passed since the first
# failed delivery.
debian.org	       *	   F,2h,10m; G,16h,2h,1.5; F,14d,8h

# Bounces should get retried every 10 minutes for up to 2 hours
*                      * senders=: F,2h,10m

# Temporary errors at RCPT TO get retried at 5 minute intervals for
# 2 hours, then 10 minute intervals for 4 hours, and finally at 15
# minute intervals for 4 days. This assumes that the cause of the
# error will get resolved quickly in most cases.
*                      rcpt_4xx    F,2h,5m;  F,4h,10m; F,4d,15m

# For all remaining mails, addresses and hosts, this rule starts with
# retries every 15 minutes for 2 hours, then increasing retry intervals,
# starting at 2 hours and increasing each time by a factor of 1.5, up to 16
# hours, then retries every 8 hours until 4 days have passed since the first
# failed delivery.
*                      *           F,2h,15m; G,16h,2h,1.5; F,4d,8h

# End of Exim 4 configuration
