# apache configuration for icinga

ScriptAlias /cgi-bin/icinga /usr/lib/cgi-bin/icinga

# Where the stylesheets (config files) reside
Alias /icinga/stylesheets /etc/icinga/stylesheets

# Where the HTML pages live
Alias /icinga /usr/share/icinga/htdocs


<DirectoryMatch "^(?:/usr/share/icinga/htdocs|/usr/lib/cgi-bin/icinga|/etc/icinga/stylesheets)/">
	Options FollowSymLinks

	DirectoryIndex index.html

	AllowOverride AuthConfig
	Order Allow,Deny
	Allow From All

	AuthName "Nagios Access"
	AuthType Basic
	AuthBasicProvider file anon
	AuthUserFile /srv/nagios.debian.org/htpasswd

	Anonymous_MustGiveEmail off
	Anonymous_LogEmail off
	Anonymous dsa-guest

	require valid-user
</DirectoryMatch>

<Directory "/usr/share/javascript/">
	Options FollowSymLinks MultiViews
</Directory>
